<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link type="text/css" rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- <link type="text/css" rel="stylesheet" href="/css/master.css"> -->

</head>

<body>
  <nav class="navbar navbar-light" >
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="logo1" src="images/air3.png" alt="#">
        <a class="navbar-brand" href="#"></a>
      </div>
    </div>
  </nav>
